.item {
    height: 55vh;
    width: 17vw;
    text-align: center;
    display: inline-block;
    margin: 1vh 1vw;
    background-color: blueviolet;
    min-width: 250px;
    min-height: 300px;
}

.item img {
    height: 35vh;
    width: 13vw;
    min-width: calc(250px * 13 / 17);
    min-height: calc(300px * 35 / 55);
}

.item h3 {
    text-align: center;
    margin: 1vh auto;
}